body, html {
color: #fff;
font-family: 'Abel', sans-serif;
margin: 0;
padding: 0;
background-color: transparent;
}

body {
font-size: 1.2em;
background-image: url('ela.jpg');
}

.text-box {
background-color:Green;
border-radius: 18px;
margin: 2em auto;
padding: 18px;
width: 90%;
}
#btn
{
color:black;
background:#1DBC60;
padding:10px;
margin-left:50%
  }
}
