body, html {
color: black;
font-family: 'Abel', sans-serif;
margin: 0;
padding: 0;
background-color: transparent;
}

body {
font-size: 1.2em;
background-image: url('suhada.jpg');
}

.text-box {
background-color:Green;
border-radius: 18px;
margin: 2em auto;
padding: 10px;
width: 50%;
}
#btn
{
color:black;
background:#1DBC60;
padding:10px;
  }
}
